[submodule "bundle/csv"]
	path = bundle/csv
	url = https://github.com/chrisbra/csv.vim.git
[submodule "bundle/Vim-R-plugin"]
	path = bundle/Vim-R-plugin
	url = https://github.com/jcfaria/Vim-R-plugin.git
