[submodule "bundle/csv"]
	path = bundle/csv
	url = https://github.com/chrisbra/csv.vim.git
	ignore = dirty
[submodule "bundle/Vim-R-plugin"]
	path = bundle/Vim-R-plugin
	url = https://github.com/jcfaria/Vim-R-plugin.git
[submodule "bundle/screen"]
	path = bundle/screen
	url = https://github.com/ervandew/screen.git
	ignore = dirty
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = http://git.code.sf.net/p/vim-latex/vim-latex
	ignore = dirty
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	ignore = dirty
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git
